<body class="body">
<div class="wrapper">
    <div class="tabMenu">

        <ul class="tabMenu__ul">
            <li class="tabMenu__li "><a href="#" class="tabMenu__a">Post</a></li>
            <li class="tabMenu__li  tabMenu__li-active"><a href="#" class="tabMenu__a-active">Execute </a></li>
        </ul><!--end tabMenu__ul-->

    </div>
    <div class="styled-hr "></div>
    <div class="mainBlock">
        <div class="mainBlock__inner">
            <table>
                <tbody>
                <tr>
                    <td class="mainBlock__td mainBlock__td-col-1">Market</td>
                    <td class="mainBlock__td mainBlock__td-col-2 mainBlock__td-row-1">1.1293</td>
                    <td class="mainBlock__td mainBlock__td-col-3 mainBlock__td-row-1">0.8857</td>
                </tr>
                <tr>
                    <td class="mainBlock__td mainBlock__td-col-1">Mid-market</td>
                    <td class="mainBlock__td mainBlock__td-col-2 mainBlock__td-row-2 mainBlock__td-fontStyle-2">1.1288</td>
                    <td class="mainBlock__td mainBlock__td-col-3 mainBlock__td-row-2">0.8863</td>
                </tr>
                </tbody>
            </table>
            <div class="mainBlock__hr"></div>
            <table>
                <tfoot>
                <tr>
                    <td class="mainBlock__td mainBlock__td-col-1">Countervalue</td>
                    <td class="mainBlock__td mainBlock__td-col-2 mainBlock__td-fontStyle-2">11.292,00</td>
                    <td class="mainBlock__td mainBlock__td-col-3">USD</td>
                </tr>
                <tr>
                    <td class="mainBlock__td mainBlock__td-col-1">Kantoxfee</td>
                    <td class="mainBlock__td mainBlock__td-col-2 mainBlock__td-fontStyle-2">&asymp; 29.23</td>
                    <td class="mainBlock__td mainBlock__td-col-3">EUR</td>
                </tr>
                </tfoot>
            </table>
        </div>


        <div class="mainBlock__inner mainBlock__inner-half">


            <div class="mainBlock__inner__spaces">
                <div class="mainBlock__inner__order">
                    Order Type
                </div>

                <label class="mainBlock__selectLabel">
                    <select class="mainBlock__select">
                        <optgroup label="Select">
                            <option> One-Cancels-the-Other (OCO)</option>
                            <!--class="drop-down__content"-->
                            <option>Option Two</option>
                            <option>Option Three</option>
                        </optgroup>
                    </select>
                </label>
            </div>


            <table>
                <tr>
                    <td class="mainBlock__td mainBlock__td-fontStyle-1">Take Profit</td>
                    <td class="mainBlock__td mainBlock__td-highlight-take mainBlock__td-boxsize-1">1.1500</td>
                    <td class="mainBlock__td mainBlock__td-fontStyle-1">or</td>
                    <td class="mainBlock__td mainBlock__td-highlight-take mainBlock__td-boxsize-2">2.79 <span class="mainBlock__td__percents">%</span></td>
                </tr>
                <tr>
                    <td class="mainBlock__td"></td>
                </tr>
                <tr>
                    <td class="mainBlock__td mainBlock__td-fontStyle-1">Stop Loss</td>
                    <td class="mainBlock__td mainBlock__td-highlight-grey mainBlock__td-boxsize-1">1.1100</td>
                    <td class="mainBlock__td mainBlock__td-fontStyle-1">or</td>
                    <td class="mainBlock__td mainBlock__td-highlight-grey mainBlock__td-boxsize-2">1.55 <span class="mainBlock__td__percents">%</span></td>
                </tr>

            </table>
            <div class="mainBlock__buttons">
                <a href="#" class="mainBlock__buttonMain mainBlock__buttonMain-btn-no  ">Cancel</a>

                <button class="mainBlock__buttonMain mainBlock__buttonMain-btn-yes"  >Request</button>

            </div>

        </div>

    </div>


</div>


</body>

